.App {
  text-align: center;
  color: #444;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background: linear-gradient(bottom right, rgba(2,94,176,1), rgba(0,212,255,1));
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#card {
  width: min(900px, 100%);
  height: 460px;
  background-color: #eeeeee;
  box-shadow: 3px 5px 5px darkslategray;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.content-container {
  text-align: center;
  height: 95%;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: normal;
}

#title {
  text-align: left;
  font-weight: lighter;
  font-size: 40px;
  padding: 0em;
  line-height: .5em;
}

#tags {
  text-align: left;
  font-weight: bold;
  font-size: 12px;
  color: #01851e;
}

.grid-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.grid-box {
  display: flex;
  align-items: center;
}
.grid-box:hover > i{
  animation: spin 2s;
}

#about-container {
  width: 100%;
  font-size: 16px;
  text-align: left;
}

.icon {
  width: 50px;
}

@media screen and (max-width: 900px) {
  .App {
    padding: 1.5rem;
  }

  #card {
    height: auto;
  }
}

@media screen and (max-width: 950px), screen and (orientation: portrait) {
  .App {
    align-items: flex-start;
    padding: 1.5rem 1rem 3rem;
  }

  #card {
    width: min(95vw, 520px);
    min-height: 75vh;
    padding: 2rem;
    box-shadow: 3px 5px 5px darkslategray;
  }

  .content-container {
    width: 100%;
  }

  #title {
    line-height: 1.2;
    text-align: center;
  }

  #tags {
    text-align: center;
  }

  #about-container {
    font-size: 14px;
  }

  .grid-container {
    gap: 1rem;
  }

  .grid-box {
    width: 100%;
    justify-content: center;
    gap: 0.75rem;
  }

  .icon {
    width: 40px;
  }
}